.world-anchor-pane {
    /*-fx-background-color: rgba(255, 255, 255, 0.01);*/
}

Label, Text {
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 3);
}

.tower-range {
    -fx-fill: rgba(255, 255, 255, 0.15);
}

.root {
    -fx-background-color: rgba(0, 0, 0, 0.95);
    -fx-background-image: url('../icons/root-background.png');
}

.side-bar {
    -fx-padding: 50 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: bottom-left;
    -fx-background-color: #2e302f;
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 5);
}

.close-side-pane {
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

.close-side-pane:hover {
    -fx-opacity: 1;
}

.side-bar-delimiter {
    -fx-pref-width: 100%;
    -fx-pref-height: 1;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.side-bar-box {
    -fx-padding: 0 10;
    -fx-spacing: 8;
}

.side-bar-header {
    -fx-alignment: center;
}

.game-object-description {
    -fx-font-size: 14;
    -fx-text-alignment: center;
}

.side-bar-content {
    -fx-spacing: 8;
    -fx-font-size: 12;
    -fx-alignment: center;
}

.characteristics-grid-pane {
    -fx-hgap: 8;
}

.tower-upgrades-box {
    -fx-alignment: center;
}

.tower-upgrade-box {
    -fx-padding: 5 10;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.tower-upgrade-box:hover {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}

.target-box, .sell-box {
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.target-box:hover {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}

.target-box-selected, .target-box-selected:hover {
    -fx-background-color: #0479bf;
}

.sell-box {
    -fx-background-color: #bf1e1e;
}

.bar-grid-pane > HBox {
    -fx-padding: 8;
    -fx-spacing: 12;
    -fx-alignment: center;
}

.bar-grid-pane > HBox > HBox {
    -fx-alignment: center;
}

.progress-box, .wave-box {
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 75%, transparent 100%);
}

.pause-box {
    -fx-background-color: linear-gradient(to left, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 75%, transparent 100%);
}

.next-wave-time-label {
    -fx-font-size: 14;
}

.speed-box {
    -fx-padding: 0 0 0 30;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.close-icon {
    -fx-image: url('../icons/close.png');
}

.research-progress-icon {
    -fx-image: url('../icons/star.png');
}

.money-progress-icon {
    -fx-image: url('../icons/money.png');
}

.health-progress-icon {
    -fx-image: url('../icons/heart.png');
}

.enemy-progress-icon {
    -fx-image: url('../icons/skull.png');
}

.wave-progress-icon {
    -fx-image: url('../icons/wave.png');
    -fx-cursor: hand;
}

.speed-1x {
    -fx-image: url('../icons/speed-1x.png');
    -fx-cursor: hand;
}

.speed-2x {
    -fx-image: url('../icons/speed-2x.png');
    -fx-cursor: hand;
}

.speed-3x {
    -fx-image: url('../icons/speed-3x.png');
    -fx-cursor: hand;
}

.pause-icon, .speed-0x {
    -fx-image: url('../icons/pause.png');
    -fx-cursor: hand;
}

/* Popups */

.popup-grid-pane {
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.pause-popup-box {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.pause-popup-box > HBox {
    -fx-padding: 10 20;
    -fx-spacing: 20;
    -fx-background-color: #0479bf;
    -fx-cursor: hand;
}

.results-popup-box {
    -fx-padding: 20 20 10 20;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: #2e302f;
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 5);
}

.results-header {
    -fx-font-size: 30;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}

.results-details-box {
    -fx-padding: 0 10;
    -fx-alignment: center;
}

.results-details-box-header {
    -fx-font-size: 10;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}

.results-details-box-header-big {
    -fx-font-size: 13;
}

.results-details-box-value {
    -fx-font-size: 20;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}

.results-details-box-value-big {
    -fx-font-size: 24;
}

.results-buttons-grid-pane {
    -fx-padding: 10 0 0 0;
    -fx-hgap: 10;
}

.results-buttons-grid-pane > HBox {
    -fx-padding: 5 10;
    -fx-spacing: 5;
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-opacity: 0.75;
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-cursor: hand;
}

.results-buttons-grid-pane > HBox:hover {
    -fx-opacity: 1;
}

.resume-icon {
    -fx-image: url('../icons/play.png');
}

.restart-icon {
    -fx-image: url('../icons/replay.png');
}

.idle-icon {
    -fx-image: url('../icons/time.png');
}

.finish-icon {
    -fx-image: url('../icons/cross.png');
}

.menu-icon {
    -fx-image: url('../icons/home.png');
}

.save-icon {
    -fx-image: url('../icons/save.png');
}
